.textabovecaurosol {
  position: absolute;
  z-index: 10;
  margin-top: 10%;
  color: black;
  font-size: 80px;
  margin-left: 8%;
}
@media (max-width: 600px) {
  .textabovecaurosol {
    position: absolute;
    z-index: 10;
    margin-top: 10%;
    color: black;
    font-size: 22px;
    margin-left: 8%;
  }
}